.jars__box {
	padding: 0 50px;
	overflow: hidden;
	margin-bottom: 50px;
}

.jars__title {
	text-align: center;
	font-size: 32px;
	line-height: 36px;
	font-weight: 700;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.jars__textMoney {
	text-align: center;
	font-weight: 700;
	margin: 0 0 50px;
	font-size: 20px;
	line-height: 25px;
}

.jars__list {
	display: grid;
	grid-template-columns: repeat(4, calc((100% - 225px) / 4));
	column-gap: 75px;
	row-gap: 30px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.jars__item {
	padding: 25px;
	border-radius: 12px;
	background-color: var(--secondary-color);
}

.jars__link {
	text-decoration: none;
}

.jars_progressLine {
	--dynamic-width: initial;
	height: 10px;
	border-radius: 7px;
	position: relative;
	width: 100%;
	margin: 0 0 20px;
	background-color: #eee;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.jars_progressLine::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: var(--dynamic-width);
	height: 10px;
	border-radius: 7px;
	background-color: palevioletred;
}

.jars__iconBox {
	display: flex;
	justify-content: center;
	margin: 0 0 20px;
}

.jarIcon {
	fill: red;
	width: 40px;
	height: 40px;
	background-color: pink;
	border-radius: 12px;
	padding: 10px 10px;
}

h3 {
	color: var(--accent-color);
	text-align: center;
}

.marginGoal {
	margin: 0 0 20px;
}

.marginWithoutGoal {
	margin: 0 0 35px;
}

.jars__text {
	margin: 0;
	color: var(--accent-color);
}

.progress-bar {
	width: 100%;
	margin: 0 0 5px;
	text-align: end;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: var(--accent-color);
}

.progress-bar span {
	display: block;
}
