.header__box {
	background-color: var(--secondary-color);
	padding: 1rem;
}

.header__nav {
	display: flex;
}

.header__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	transform: translate(54px, 0);
}

.header__item {
	margin: 0 1rem;
}

.header__link {
	text-decoration: none;
	color: var(--primary-color);
	font-weight: bold;
}

.header__logout{
	z-index: 1;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--button-hover-color);
	cursor: pointer;
}
